html {
	min-height: 100%;
	background: linear-gradient(#111, #fbc46f, #fbc46f);
}

* {
	border: 0;
	margin: 0;
	padding: 0;
}

/* general */
a {
	color:#777;
	text-decoration: none;
}

a:hover {
	color: #333;
	text-decoration: none;
}

/* body */
body {
	/*background: #fbc46f;*/
	color: #555;
	font: 0.8em Arial, Helvetica, "bitstream vera sans", sans-serif;
	height: 100%;
}

/* header */
#header {
	height: 120px;
	margin: 0 auto;
	width: 751px;
	background-image: url("../includes/images/stripefade.png");
}
#header h1 {
	color: #fbc46f;
	font-size: 300%;
	text-align: left;
	padding: 40px 0px 0px 5px;
	height: 30px;
}
#header h2 {
	color: #fbc46f;
	font-size: 200%;
	text-align: left;
	letter-spacing: 1px;
	padding: 20px 0px 0px 8px;
	height: 50px;
}

/* navigation */
#navigation {
	background: none;
	margin: 0 auto;
	width: 751px;
	height: 40px;
	list-style: none;
	background-image: url("../includes/images/stripefade.png");
}
#navigation li {
	float: left;
	width: 149px;
	list-style: none;
}
#navigation a {
	color: #B5B4B2;
	display: block;
	line-height: 40px;
	text-align: center;
}
#navigation a:hover {
	color: #FFF;
}
#navigation .active {
	background: #e3e3e3;
	color: #777;
}

/* content */
#content {
	height: auto;
	margin: 0 auto;
	padding: 0 0 20px 5px;
	width: 746px;
	background-color: #FFF;
}
#content h1 {
	border-bottom: 1px dashed #999;
	font-size: 1.8em;
	padding: 20px 0 0;
}
#content p {
	padding: 20px 20px 0;
}

/* footer */
#footer {
	height: 50px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	width: 751px;
}

.error, .ad {
	font-weight: bold;
	color: #C00
}

input, select, .input {
	padding: 5px;
	font-weight: bold;
	font-size: 1em;
	background: #FFFFFF;
	border:1px dotted #004080;
}

#subForm td {
	padding: 5px 5px 5px 5px;
	font-weight: 700;
}

#subForm #passwordField {
	letter-spacing: 3px;
}

#subForm #submitButton {
	float: right;
	background-image: url("../includes/images/stripefade.png");
	color: #fbc46f;
	letter-spacing: 1px;
	min-width: 75px;
	min-height: 30px;
	font-size: 1.1em;
}

#subForm select{
	width: 100%;
}

#reportname{
	text-align: center;
	font-size: 1.3em;
	font-weight: 700;
	padding-bottom: 10px;
}

#reportnumber{
	text-align: right;
}

#report {
	margin: 15px 0 15px 5px;
	font-size: 1.2em;
}

#report tr{
	height: 20px;
}

#report th{
	padding: 3px 25px 3px 0px;
	text-align: left;
}